.header {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  padding: 1rem;
}

.title {
  font-size: 3rem;
  font-weight: bold;
  color: var(--primary-color);
  text-decoration: none;
}
